.main{
	margin: auto;
	padding: 10px;
	width: 70%;
	height: auto;
}
.divmovie43{
	background-color: #222222;
	width: auto;
	height: auto;
	border: solid 3px;
	border-radius: 8px;
}
#movie43{
	width: auto;
	overflow: auto;
	height: 400px;
}
#post1{
	float: left;
	height: 285px;
	width: 160px;
}
.innerdiv{
	float: left;
	height: auto;
	margin: auto;
	text-align: center;
	color: #ffffff;
	padding: 5px;
}
#thumb{
	height: 200px;
	width: 150px;
	padding: 8px;
}
.footer{
	width: auto;
	height: 80px;
	margin-top: 20px;
	background-color: #101010;
	-webkit-border-radius: 8px;
	border-radius: 4px;
}
#grp{
	padding: 20px;
}
#grp #c{
	color: #ffffff;
	font-weight:  bold;
	font-size: 10pt;
	float: left;
	margin-top: 5px;
}
#neym{
	color: #f0ad4e;
	font-size: 14pt;
	font-weight: bolder;
	margin-left: 5px;
	font-family: magneto;
}


/**ABOUT US**/
.cont{
	width: 70%;
	height: 600px;
	background: #333;
	margin: auto;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin-top: 40px;

}
#au{
	margin: 100px;
	padding: 10px;
}


/**DEXTER**/
#dex{
	float: left;
	margin-left: 100px;
	margin-top: 100px;
}
#d{
	width: 200px;
	height: 200px;
	margin-left: 60px;
}
#xc{

}
	

/**YLEVOL**/
#lai{
float: right;
margin-right: 70px;
margin-top: 100px;
}

